.jumbotron
{
    background-color: transparent;
}
.jumbotron h2
{
    text-align: center;
    font-weight: bold;
}
.center-align
{
    text-align: center;
}
.right-align
{
    text-align: right;
}
.no-border-radius, .btn
{
    border-radius: 0px;
}
.pad-lr-null
{
    padding-left: 0px;
    padding-right: 0px;
}
.items:hover
{
    background-color: #ddd;
    cursor: pointer;
}
.strike
{
    text-decoration: line-through;
}